*.suo
*.user
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Bb]uild.[Dd]ebug/
[Bb]uild.[Rr]elease/

*.obj
*.meta
*.pdp
*.tmp
*.vspscc
*.vssscc
.build

publish/

/CopartnerUserAPI/.vs/CopartnerUserAPI/v17/DocumentLayout.json
/CopartnerUserAPI/.vs/CopartnerUserAPI/v17/.suo
/CopartnerUserAPI/.vs/CopartnerUserAPI/DesignTimeBuild/.dtbcache.v2
/CopartnerUserAPI/.vs/ProjectEvaluation/copartneruserapi.projects.v7.bin
/CopartnerUserAPI/.vs/ProjectEvaluation/copartneruserapi.metadata.v7.bin
/CopartnerUserAPI/.vs/CopartnerUserAPI/v17/.futdcache.v2
/CopartnerUserAPI/.vs/CopartnerUserAPI/FileContentIndex/0998d9d9-38f3-41f3-aa0a-eacbef03aef1.vsidx
/CopartnerUserAPI/.vs/CopartnerUserAPI/FileContentIndex/734941e7-609e-45b1-a543-417649464d20.vsidx
/CopartnerUserAPI/logs
/CopartherUserAPI/logs
