*.suo
*.user
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Bb]uild.[Dd]ebug/
[Bb]uild.[Rr]elease/

*.obj
*.meta
*.pdp
*.tmp
*.vspscc
*.vssscc
.build

publish/

/CopartnerUserAPI/.vs/CopartnerUserAPI/v17/DocumentLayout.json
/CopartnerUserAPI/.vs/CopartnerUserAPI/v17/.suo
